.project-list {
  max-width: 800px;
  margin: 0 auto;
}

.project-item {
  display: flex;
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-item img {
  width: 200px;
  object-fit: contain;
}

.project-content {
  padding: 20px;
  flex: 1;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}

.project-meta {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

.project-desc {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

.read-btn {
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.read-btn:hover {
  background: #444;
}

@keyframes floatUp {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(-110vh) rotate(360deg);
    opacity: 0;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background: #fff;
  padding: 0;
  border-radius: 8px;
  position: relative;
  width: 80vw;
  max-width: 640px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}
.video-container {
  width: 100%;
  height: 360px;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 700px) {
  .video-container {
    height: 200px;
  }
}

.myvidbox {
  width: 40vw; /* Default for PC / large screens */
  height: auto; /* Just for demo – adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 8px;
  padding-right: 8vb;
}

@media (max-width: 768px) {
  .myvidbox {
    width: 100vw !important; /* Full width on mobile */
  }
}

/*worldclock*/
