.clock-wrapper {
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
}

.clock-box {
  flex: 1;
  min-width: 0;
  text-align: center;
}

.clock-clockpage {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
  margin: 0 auto;
}

.city {
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
  font-weight: 600;
  margin-top: 0.3em;
}

.time {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: bold;
  margin-top: 0.2em;
}

/* TECH LOGOS ANIMATION */

tech-logo {
  position: absolute;
  padding-bottom: -150px;
  animation: floatUp 8s linear infinite;
}
@keyframes floatUp {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(-110vh) rotate(360deg);
    opacity: 0;
  }
}
