body {
  font-family: "Oxygen", sans-serif;

  color: #000;
}

html {
  background: #f1efed;
}

html.loading #logo,
html.loading .start-project,
html.loading #menu-toggler,
html.loading .pagesection__title span {
  opacity: 0;
  transition-duration: 1.5s;
}

html.loading .pagesection__content {
  visibility: hidden;
}

html.loading .pagesection {
  flex-grow: 1;
  transform: translateY(-100%);
  transition-property: none;
  transition-duration: 1.5s;
  transition: none;
}

html.loading #navigation {
  transform: translateX(-100%);
  transition-property: none;
  transition: none;
}

/* hide scrollbar */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.pagesection__content::-webkit-scrollbar {
  display: none;
}

/* the top navigation */

h2 {
  font-size: 5.1vh;
  letter-spacing: -0.01vw;
  line-height: 125%;
  font-weight: 400;
  color: #222;
}

h3 {
  font-size: 3vh;
  line-height: 120%;
  font-weight: 500;
}

h1 a img {
  max-height: 42px;
}

#navigation {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #999;
  background: #f1efed;
  z-index: 4;
}

.start-project {
  color: #000;
}

.start-project:hover {
  text-decoration: underline;
}

#main {
  display: flex;
  height: 100vh;
}

#menu-toggler {
  display: none;
}

#menu {
  display: none;
}

.pagesection {
  display: flex;
  flex: 0 0 auto;
  transition-duration: 0.8s; /* keep it so things will work when the html class is noloading */
  width: 48px; /* 40px is the width of .pagesection__title */
  overflow: hidden;
  position: relative;
}

.animation-board {
  width: 100%;
  position: absolute;
  left: 100%;
  height: 100vh;
  height: 100%;
  background: #aaaeb3;
  background: #f1efed;
  z-index: 1;
}

.pagesection--activated .pagesection__title {
  border-right: 1px solid #999;
  /*background: #ccc;*/
}

.pagesection--pending-deactivated .pagesection__title {
  border-right: 1px solid #999;
}

.pagesection__title {
  /* for when position value is 'fixed' */
  /* 
    but setting the z-index to 1 will fix the page section title stacking issue
    with the ScrollMagic pin for the team members, don't know why still
  */
  /* increase it to 3 to work with the animationBoard element */
  z-index: 3;
  flex: 0 0 auto;
  width: 48px;
  background: #f1efed;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #999;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.pagesection__title span {
  white-space: nowrap;
  transform: rotate(-90deg) translateX(50%);
}

.pagesection__content {
  flex: 0 0 0;
  background: #f1efed;
  width: 0;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  /* 50px is the height of navigation */
  padding-top: 50px;
  /*margin-top: 50px;*/
  /*height: calc(100vh - 50px);*/
  height: 100vh;
  display: flex;
  /*scroll-behavior: smooth;*/
  /*-webkit-overflow-scrolling: touch;*/
  padding-right: 50px;
}

.pagesection__content.portfolio-item {
  padding-right: 50px;
  background: transparent;
  flex-grow: 0;
  width: calc(100% - 48px);
  left: 48px; /* the accordion title width */
  z-index: 2;
  position: absolute;
  opacity: 0;
}

.pagesection__content.portfolio-item-demo {
  position: static;
  opacity: 1;
}

.binarypoets-block-title {
  width: auto;
  min-width: 65vw;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 80px;
  flex: 0 0 auto;
}

#hello-title.binarypoets-block-title {
  /*background: url(../images/@stock/cloud.png) -70px 50px no-repeat, url(../images/@stock/cloud.png) right -260px bottom 30px no-repeat;*/
}

.binarypoets-block-title h2 {
  width: 75vh;
  margin-bottom: 15vh;
}

.binarypoets-block-title.long-title h2 {
  width: 80vh;
}

.binarypoets-block-title p {
  padding-bottom: 50px;
}

.binarypoets-block-picture {
  width: 80vw;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin: 4vh 0 4vh 30px;
}

.binarypoets-block-picture img,
.binarypoets-block-picture video {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  max-width: none;
  border-radius: 25px;
}

.binarypoets-block-picture video {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  max-width: none;
}

.binarypoets-block-services,
.binarypoets-block-processes {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 100px;
  padding-top: 50px;
}

.binarypoets-block-services__summary {
  margin-left: auto;
  width: 66.7%;
}

.binarypoets-block-processes__summary {
  width: 100%;
}

.binarypoets-block-services__summary h2,
.binarypoets-block-processes__summary h2 {
  color: #000;
  font-size: 2.2vh;
  margin-bottom: 20px;
}

.binarypoets-block-services__summary p,
.binarypoets-block-processes__summary p {
  font-size: 46px;
  font-size: 5.1vh;
  letter-spacing: -0.01vw;
  color: #222;
  line-height: 125%;
  font-weight: 500;
  width: 70vh;
  margin-bottom: 10vh;
}

.binarypoets-block-services__services,
.binarypoets-block-processes__processes {
  display: flex;
  padding-bottom: 100px;
}

.binarypoets-block-services__services .service {
  flex: 1 1 0;
  width: 50vh;
  min-width: 260px;
  max-width: 500px;
}

.binarypoets-block-services__services .service h3 {
  font-size: 3.4vh;
  /*font-weight: 500;*/
}

.binarypoets-block-services__services .service p {
  margin-top: 2vh;
  padding-right: 8vh;
}

.binarypoets-block-services__services .service {
  /*border-top: 1px solid #000;*/
}

.binarypoets-block-services__services .service img {
  /*  position: relative;
  left: -20px;
  margin-top: 50px;
  width: 100px;*/
}

.binarypoets-block-projects {
  display: flex;
  flex: 0 0 auto;
  width: auto;
  padding-top: 4vh;
}

.binarypoets-block-projects h2 {
  max-width: 60vh;
  margin-top: 4vh;
}

.binarypoets-block-projects__projects {
  display: flex;
  padding-bottom: 20vh;
  margin-left: 80px;
}

.binarypoets-block-projects__project {
  position: relative;
  margin-right: 120px;
}

.binarypoets-block-projects__project .parallax-frame {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  display: block;
}

.binarypoets-block-projects__project .parallax-frame img,
.binarypoets-block-projects__project .parallax-frame video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  max-width: none;
  transform: scale(1);
}

.binarypoets-block-projects__project .parallax-frame img:hover {
  transition: transform 0.8 ease;
}

.binarypoets-block-projects__metas {
  position: absolute;
  display: flex;
  bottom: 8px;
}

.binarypoets-block-projects__metas .meta {
  border-radius: 15px;
  padding: 5px 14px;
  font-size: 10px;
  margin-left: 5px;
}

.binarypoets-block-projects__metas--color-light .meta {
  color: #000;
  background: #f1efed;
}

.binarypoets-block-projects__metas--color-dark .meta {
  color: #fff;
  background: #000;
}

.binarypoets-block-projects__project h3 {
  position: absolute;
  /*top: 105%;*/
  left: 0;
  margin-top: 20px;
}

.binarypoets-block-projects__project p {
  position: absolute;
  /*top: 105%;*/
  right: 0;
  margin-top: 20px;
  width: 34vh;
  font-weight: 500;
  height: 160px;
  font-size: 2vh;
}

.binarypoets-block-projects__project--size-large {
  width: 100vh;
  height: calc(100vh - 240px);
  height: 69vh;
}

.binarypoets-block-projects__project--size-medium {
  width: 65vh;
  height: 50vh;
  /*max-height: calc(100vh - 240px);*/
}

.binarypoets-block-projects__project--size-medium p {
  display: none;
}

.binarypoets-block-projects__project--size-small {
  width: 38vh;
  height: 35vh;
}

.binarypoets-block-projects__project--size-small p {
  display: none;
}

.binarypoets-block-projects__project--align-top {
  align-self: start;
}

.binarypoets-block-projects__project--align-bottom {
  align-self: end;
  /*margin-bottom: 20px;*/
}

.binarypoets-block-philosphy {
  display: flex;
  flex: 0 0 auto;
  width: auto;
  padding-left: 100px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
}

.binarypoets-block-philosphy h2 {
  display: none;
}

.binarypoets-block-philosphy .summary {
  font-size: 5.1vh;
  letter-spacing: -0.01vw;
  color: #222;
  font-weight: 500;
  width: 110vh;
  margin-bottom: 10vh;
}

.binarypoets-block-philosphy .philosphies {
  align-self: end;
  margin-left: 30vh;
  margin-right: 20vh;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.binarypoets-block-philosphy .philosphies .philosphy {
  flex: 0 0 auto;
  width: 30vh;
  min-width: 300px;
  margin-right: 10vh;
  display: flex;
  flex-direction: column;
}

.binarypoets-block-philosphy .philosphies .philosphy h3 {
  font-size: 3.4vh;
  margin-bottom: 20px;
}

.binarypoets-block-philosphy .philosphies .philosphy p {
  margin-bottom: 30px;
}

.binarypoets-block-philosphy .philosphies .philosphy .philosphy-label {
  margin-top: auto;
  padding-top: 0;
  font-size: 8vh;
}

.binarypoets-block-achievements {
  flex: 0 0 auto;
  width: auto;
  flex-direction: row;
  border-left: 1px solid #999;
  padding-top: 50px;
  padding-left: 50px;
  position: relative;
}

.binarypoets-block-achievements h2 {
  font-size: 3.2vh;
  letter-spacing: 0;
  position: absolute;
}

.binarypoets-block-achievements .achievements {
  min-width: 1400px;
  height: 100%;
  display: grid;
  background: no-repeat url(../images/explode-bg-1.png);
  background-size: contain;
  grid-template-columns: repeat(20, 50px);
  grid-template-rows: repeat(20, 5%);
  margin-left: 20vh;
}

.binarypoets-block-achievements .achievements .achievement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #999;
  padding: 20px;
  width: 38vh;
  height: 25vh;
  min-height: 200px;
  min-width: 300px;
  background: #f1efed;
}

.binarypoets-block-achievements .achievements .achievement:nth-of-type(1) {
  grid-row-start: 7;
  grid-column-start: 1;
}

.binarypoets-block-achievements .achievements .achievement:nth-of-type(2) {
  grid-row-start: 3;
  grid-column-start: 11;
}

.binarypoets-block-achievements .achievements .achievement:nth-of-type(3) {
  grid-row-start: 12;
  grid-column-start: 7;
}

.binarypoets-block-achievements .achievements .achievement:nth-of-type(4) {
  grid-row-start: 8;
  grid-column-start: 14;
}

.binarypoets-block-achievements .achievements .achievement .num {
  font-size: 8vh;
  line-height: 125%;
}

.binarypoets-block-achievements .achievements .achievement h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 2.4vh;
}

.binarypoets-block-team-members-and-sibling {
  display: flex;
  flex-direction: row;
  /* this fix the spaces above the members section when reduce the browser height */
  margin-top: 0 !important;
}

.binarypoets-block-team-members {
  flex: 0 0 auto;
  flex-direction: row;
  border-left: 1px solid #999;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  padding-right: 100px;
  min-width: 600px;
  width: 85vh; /* for the pin to work, must have a width for the scrollmagic-pin-spacer to copy */
}

.binarypoets-block-team-members h2 {
  font-size: 3.2vh;
  letter-spacing: 0;
}

.binarypoets-block-team-members .members {
  margin-left: 80px;
}

.binarypoets-block-team-members .members .member {
  width: 40vh;
  min-width: 300px;
  max-width: 500px;
  position: relative;
  margin-bottom: 60px;
}

.binarypoets-block-team-members .members .member .info {
  position: absolute;
  left: 108%;
  bottom: 10px;
  width: 200px;
}

.binarypoets-block-team-members .members .member img {
  object-fit: cover;
  min-height: 100%;
  border-radius: 20px;
}

.binarypoets-block-team-members .members .member .info .name {
  font-weight: 500;
  font-size: 2.6vh;
}

.binarypoets-block-team-members .members .member .info .job-title {
  color: #888;
  font-size: 1.8vh;
}

.binarypoets-block-testimonials {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #999;
  padding-left: 100px;
  flex: 0 0 auto;
  width: auto;
  padding-top: 50px;
  padding-right: 15vh;
  position: relative;
}

.binarypoets-block-testimonials h2 {
  display: none;
}

.binarypoets-block-testimonials .summary {
  font-size: 5.1vh;
  letter-spacing: -0.01vw;
  line-height: 125%;
  font-weight: 500;
  width: 75vh;
  margin-bottom: 10vh;
}

.binarypoets-block-testimonials .logos {
  width: 800px;
  margin-left: 65vh;
  align-self: end;
  display: flex;
  flex-wrap: wrap;
}

.binarypoets-block-testimonials .logos img {
  width: 150px;
  height: auto;
  margin: 10px;
  max-width: 150px;
}

.binarypoets-block-testimonials .short-text {
  margin-bottom: 30px;
  font-weight: 500;
  position: absolute;
  top: 87vh;
}

.binarypoets-block-testimonials .short-text a {
  color: #000;
  text-decoration: underline;
}

.binarypoets-block-contact {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-top: 50px;
}

.binarypoets-block-contact.contact-details {
  display: flex;
  flex-direction: column;
}

.binarypoets-block-contact h2 {
  margin-bottom: 10vh;
  width: 65vh;
}

.binarypoets-block-contact .info {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  /*align-self: flex-end;*/
}

.binarypoets-block-contact .info div {
  margin-right: 50px;
}

.binarypoets-block-contact .info h3 {
  font-size: 2.2vh;
  letter-spacing: 0;
  font-weight: bold;
  /*color: #000;*/
}

.binarypoets-block-contact ul {
  width: 200px;
  margin-top: 30px;
}

.binarypoets-block-contact .contact-infos li {
  font-weight: 500;
  margin-bottom: 2vh;
}

.binarypoets-block-contact li a {
  font-weight: 500;
  color: #000;
}

.binarypoets-block-contact li a:hover {
  text-decoration: underline;
}

.binarypoets-block-contact h3:nth-of-type(2) {
  margin-top: 6vh;
}

.binarypoets-block-contact form {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.binarypoets-block-contact form .fields {
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 50px;
  padding-top: 0;
  width: 800px;
}

.binarypoets-block-contact form .fields input {
  border: none;
  border-bottom: 1px solid #999;
  font-size: 3vh;
  font-weight: 500;
  margin-top: 40px;
  padding-bottom: 10px;
  outline: none;
  background-color: #f1efed;
}

.binarypoets-block-contact form .fields label.error {
  color: red;
  padding-top: 5px;
}

.binarypoets-block-contact form .fields input::placeholder {
  color: #000;
}

.binarypoets-block-contact form .fields textarea {
  border: none;
  border-bottom: 1px solid #999;
  font-size: 3vh;
  font-weight: 500;
  outline: none;
  height: 60vh;
  min-height: 100px;
  background-color: #f1efed;
  margin-top: 40px;
}

.binarypoets-block-contact form .fields textarea::placeholder {
  color: #000;
}

.binarypoets-block-contact form > input {
  align-self: center;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 3vh;
  font-weight: 500;
  text-align: center;
  margin-left: 50px;
  cursor: pointer;
}

.binarypoets-block-blog-posts {
  display: flex;
  flex-direction: row;
}

.binarypoets-block-blog-posts__post {
  border-right: 1px solid #999;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.binarypoets-block-blog-posts__post .date {
  width: 300px;
  color: #000;
  margin-bottom: 10px;
}

.binarypoets-block-blog-posts__post h3 {
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 350px;
}

.binarypoets-block-blog-posts__post .read-more {
  width: 300px;
  color: #000;
  margin-bottom: 20px;
}

.binarypoets-block-blog-posts__post .read-more a {
  color: #000;
}

.binarypoets-block-blog-posts__image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.binarypoets-block-blog-posts__image-container--size-large {
  width: 500px;
  height: 300px;
}

.binarypoets-block-blog-posts__image-container--size-square {
  width: 300px;
  height: 300px;
}

.binarypoets-block-blog-posts__image-container--size-small {
  width: 300px;
  height: 180px;
}

.binarypoets-block-blog-posts img {
  max-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  max-width: none;
}

.portfolio-item .close-project {
  display: none;
}

/*.pagesection .portfolio-item .go-back {
  display: none;
}

.pagesection--activated .portfolio-item .go-back {
  display: block;
}*/

.portfolio-item .go-back {
  position: sticky;
  z-index: 10;
  color: #000;
  left: 15px;
  width: 0;
  /*margin-left: 15px;*/
  margin-top: 10px;
  font-weight: 500;
  white-space: nowrap;
}

.portfolio-item .go-back:hover {
  text-decoration: underline;
}

.binarypoets-block-portfolio-item-header {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  width: auto;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 100px;
}

.binarypoets-block-portfolio-item-header .image-and-title {
  max-width: 60vw;
  min-width: 55vw;
}

.binarypoets-block-portfolio-item-header .image-and-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.binarypoets-block-portfolio-item-header .image-and-title h3 {
  margin-top: 30px;
}

.binarypoets-block-portfolio-item-header .meta {
  width: 200px;
  margin-left: 100px;
  margin-top: 20px;
}

.binarypoets-block-portfolio-item-header .meta li {
  position: relative;
}

.binarypoets-block-portfolio-item-header .meta li.roles {
  margin-top: 30px;
}

.binarypoets-block-portfolio-item-header .meta li strong {
  transform: translateX(-100%);
  position: absolute;
  padding-right: 10px;
}

.binarypoets-block-portfolio-item-header .link-and-description {
  margin-top: 20px;
  width: 80vh;
}

.binarypoets-block-portfolio-item-header .link-and-description .link {
  color: #000;
}

.binarypoets-block-portfolio-item-header .link-and-description .link:hover {
  text-decoration: underline;
}

.binarypoets-block-portfolio-item-header .link-and-description p {
  margin-top: 50px;
  font-size: 5.1vh;
  letter-spacing: -0.01vw;
  line-height: 125%;
  font-weight: 500;
  color: #222;
}

.binarypoets-block-portfolio-item-image {
  flex: 0 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 80vh;
  margin-left: 160px;
}

.binarypoets-block-portfolio-item-image img {
  height: 100%;
}

.binarypoets-block-portfolio-item-image h4 {
  /*font-size: 24px;*/
  /*line-height: 240%;*/
}

.binarypoets-block-portfolio-item-image.vertical {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}

.binarypoets-block-portfolio-item-image.vertical img {
  width: 30vw;
  height: auto;
}

.binarypoets-block-portfolio-item-testimonial {
  padding-top: 50px;
  width: 80vh;
  flex: 0 0 auto;
  margin-left: 160px;
  margin-right: 160px;
}

.binarypoets-block-portfolio-item-testimonial h7 {
  margin-top: 10px;
  color: #666;
}

.binarypoets-block-portfolio-item-testimonial h4 {
  margin-top: 15px;
  color: #666;
}

.binarypoets-block-portfolio-item-testimonial p {
  font-size: 5.1vh;
  line-height: 125%;
  font-weight: 500;
  color: #222;
  letter-spacing: -0.01vw;
  margin-top: 20px;
}

.binarypoets-block-portfolio-nav {
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: -80px;
  margin-right: 40px;
  display: none;
}

.binarypoets-block-portfolio-nav a {
  color: #000;
}

.binarypoets-block-portfolio-nav a:hover {
  text-decoration: underline;
}

.pagesection__content .scroller {
  min-width: 100vw;
  display: flex;
  height: 100%;
}

.pagesection__content .type {
  width: 500px;
  padding: 40px;
  flex: 0 0 auto;
  font-weight: bold;
  font-size: 32px;
}

.pagesection__content .type.top {
  align-self: flex-start;
  padding-top: 150px;
}

.pagesection__content .type.center {
  align-self: center;
  transform: translateY(-50px);
}

.pagesection__content .type.bottom {
  align-self: flex-end;
  padding-bottom: 50px;
}

.pagesection__content .image {
  flex: 0 0 auto;
  height: 400px;
}

.pagesection__content .image img {
  height: 100%;
  width: auto;
}

.pagesection__content .image.top {
  align-self: flex-start;
  padding-top: 80px;
}

.pagesection__content .image.center {
  align-self: center;
  transform: translateY(-50px);
}

.pagesection__content .image.bottom {
  align-self: flex-end;
  padding-bottom: 50px;
}

.pagesection--activated {
  flex-grow: 1;
}

.pagesection--activated .pagesection__title {
  align-items: center;
}

.pagesection--activated .pagesection__title span {
  transform: rotate(-90deg) translateX(0%);
}

/*.pagesection--activated .pagesection__content {
  flex-grow: 1;
}*/

/* this fix the large block of white space issue after accordion title is clicked */
.pagesection__content {
  flex-grow: 1;
}

@media screen and (max-width: 1023px) {
  html.loading #navigation {
    transform: none;
    position: static;
    flex: 1 0 0;
    width: auto;
    /*transition-duration: 0.8s;*/
  }

  html.loading #main {
    transform: none;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  html.loading .pagesection {
    flex: 1 0 0;
    transform: none;
    border-bottom: 1px solid #999;
    /*transition-duration: 1.5s;*/
  }

  html.loading .scrollmagic-pin-spacer {
    /*height: 100% !important;*/
  }

  html.loading .pagesection__title {
    border-top: none;
    border-bottom: none;
  }

  html.loading .pagesection__content {
    height: 0;
  }

  html.loading .pagesection__content.portfolio-item {
    padding-bottom: 0;
  }

  /* 
    TODO: animation 
      1. change .pagesection and #navigation's flex-grow to 0

  */

  h2 {
    font-size: 5vw;
    line-height: 125%;
    font-weight: 500;
    color: #222;
  }

  h3 {
    font-size: 4vw;
    line-height: 120%;
    font-weight: 500;
  }

  .start-project {
    display: none;
  }

  #main {
    display: block;
    height: auto;
    padding-top: 49px;
  }

  #menu {
    background: #000;
    height: 100vh;
    position: fixed;
    right: 35px; /* 30, 50 previsouly */
    top: 0;
    display: flex;
    width: calc(100vw - 35px);
    align-items: center;
    z-index: 4;
    transform: translateX(calc(35px - 100vw));
  }

  #menu.open {
    transform: none;
    opacity: 1;
  }

  #menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #menu ul li {
    text-align: center;
    padding: 5px;
  }

  #menu ul li a {
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 4vh;
    font-weight: 500;
  }

  #menu-toggler {
    cursor: pointer;
    width: 40px;
    height: 20px;
    position: relative;
    margin-right: 10px;
    display: block;
  }

  #menu-toggler span {
    background: #000;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    transition-duration: center center;
  }

  #menu-toggler span.middle {
    top: 10px;
  }

  #menu-toggler span.bottom {
    top: 20px;
  }

  #menu-toggler.open .top {
    /* move down 11px, then rotate */
    transform: translateY(10px) translateX(0) rotate(45deg);
  }

  #menu-toggler.open .middle {
    opacity: 0;
  }

  #menu-toggler.open .bottom {
    /* move up 11px, then rotate */
    transform: translateY(-10px) translateX(0) rotate(-45deg);
  }

  .pagesection {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .pagesection__title {
    display: block;
    border: none;
    width: 100%;
    cursor: auto;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    padding: 10px;
    text-transform: uppercase;
  }

  .pagesection--activated .pagesection__title {
    border-right: none;
  }

  .pagesection__content {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0;
    height: auto;
  }

  .portfolio-item .close-project {
    display: inline-block;
  }

  .pagesection__content.portfolio-item {
    position: static;
    opacity: 1;
  }

  .binarypoets-block-title {
    width: 100%;
    display: block;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 80px;
    overflow: hidden;
  }

  .binarypoets-block-title h2 {
    margin-left: 8%;
    width: 85%;
    /* margin-bottom: ; */
  }

  .binarypoets-block-title.long-title h2 {
    width: 85%;
    margin-bottom: 80px;
  }

  .binarypoets-block-title p {
    margin-left: 8%;
    padding: 0;
  }

  #hello-title.binarypoets-block-title {
    background: url(../images/bg1.png) -70px 0px no-repeat,
      url(../images/bg2.png) right -60px bottom 30px no-repeat;
    /*background: none;*/
  }

  .binarypoets-block-picture {
    display: block;
    width: 88%;
    padding: 0;
    overflow: hidden;
  }

  .binarypoets-block-picture img,
  .binarypoets-block-picture video {
    position: static;
    max-width: 100%;
    display: block;
  }

  .binarypoets-block-services,
  .binarypoets-block-processes {
    width: 100%;
    display: block;
    padding: 0;
    padding-top: 60px;
  }

  .binarypoets-block-services__summary,
  .binarypoets-block-processes__summary {
    margin-left: 0;
    width: auto;
  }

  .binarypoets-block-services__summary h2,
  .binarypoets-block-processes__summary h2 {
    margin-left: 5%;
    font-size: 20px;
  }

  .binarypoets-block-services__summary p,
  .binarypoets-block-processes__summary p {
    margin-left: 8%;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 5vw;
    line-height: 125%;
    font-weight: 500;
    color: #222;
    width: 85%;
  }

  .binarypoets-block-services__services,
  .binarypoets-block-processes__processes {
    display: block;
    margin-top: 40px;
    padding-bottom: 50px;
  }

  .binarypoets-block-services__services .service {
    margin-bottom: 50px;
    margin-left: 8%;
    width: 100%;
    min-width: 75%;
    max-width: 100%;
  }

  .binarypoets-block-services__services .service p {
    margin-top: 10px;
  }

  .binarypoets-block-services__services .service h3 {
    font-size: 3.2vw;
  }

  .binarypoets-block-projects {
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 6vw;
  }

  .binarypoets-block-projects h2 {
    margin-left: 20%;
    margin-bottom: 60px;
    width: 60%;
  }

  .binarypoets-block-projects__projects {
    display: block;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .binarypoets-block-projects__project {
    clear: both;
    margin: 0;
    margin-top: 30px;
  }

  .binarypoets-block-projects__project .parallax-frame {
    border-radius: 20px;
    display: block;
  }

  .binarypoets-block-projects__project .parallax-frame img {
    width: 100%;
    object-fit: cover;
    position: static;
    display: block;
  }

  .binarypoets-block-projects__project--right {
    margin-left: auto;
  }

  .binarypoets-block-projects__project--size-large {
    width: 100%;
    height: auto;
  }

  /*  .binarypoets-block-projects__project--size-large img {
    height: 320px;
  }*/

  .binarypoets-block-projects__project--size-medium {
    width: 55vw;
    height: 43vw;
  }

  /*  .binarypoets-block-projects__project--size-medium img {
    height: 210px;
  }
*/
  .binarypoets-block-projects__project--size-small {
    width: 26vw;
    height: 25vw;
  }

  /*  .binarypoets-block-projects__project--size-small img {
    height: 20vw;
  }*/

  .binarypoets-block-projects__project--size-small
    .binarypoets-block-projects__metas {
    display: none;
  }

  .binarypoets-block-projects__project h3 {
    position: static;
    max-width: 50vw;
    float: left;
    margin-top: 15px;
    margin-bottom: 60px;
    font-size: 3.2vw;
  }

  .binarypoets-block-projects__project p {
    position: static;
    float: right;
    margin-top: 16px;
    margin-bottom: 50px;
    height: auto;
    font-size: 13px;
    width: 30vw;
    line-height: 140%;
  }

  .binarypoets-block-philosphy {
    display: block;
    width: 100%;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .binarypoets-block-philosphy h2 {
    margin-left: 5%;
    font-size: 20px;
    width: auto;
    color: #000;
    display: block;
  }

  .binarypoets-block-philosphy .summary {
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 5vw;
    font-weight: 500;
    color: #222;
    width: 85%;
  }

  .binarypoets-block-philosphy .philosphies {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0;
    margin-top: 50px;
    margin-left: 20%;
  }

  .binarypoets-block-philosphy .philosphies .philosphy {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
  }

  .binarypoets-block-philosphy .philosphies .philosphy .philosphy-label {
    margin: 0;
    padding: 0;
    position: absolute;
    line-height: 100%;
    left: -21.5%;
    color: #000;
    font-size: 8vw;
  }

  .binarypoets-block-philosphy .philosphies .philosphy h3 {
    font-size: 3.2vw;
  }

  .binarypoets-block-achievements {
    display: block;
    width: 100%;
    border-top: 1px solid #999;
    height: auto;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .binarypoets-block-achievements h2 {
    margin-left: 5%;
    position: static;
    font-size: 20px;
  }

  .binarypoets-block-achievements .achievements {
    width: 90%;
    height: auto;
    display: block;
    background: none;
    margin: 0 5%;
    margin-top: 50px;
  }

  .binarypoets-block-achievements .achievements .achievement {
    width: 60vw;
    height: 40vw;
    border-radius: 25px;
    margin-top: 10px;
  }

  .binarypoets-block-achievements .achievements .achievement .num {
    font-size: 8vw;
    line-height: 125%;
  }

  .binarypoets-block-achievements .achievements .achievement h3 {
    font-size: 3.2vw;
  }

  .binarypoets-block-achievements .achievements .achievement:nth-child(even) {
    margin-left: 10%;
  }

  .binarypoets-block-achievements .achievements .achievement:nth-child(2) {
    margin-top: -20px;
  }

  .binarypoets-block-achievements .achievements .achievement:nth-child(3) {
    margin-top: -20px;
  }

  .binarypoets-block-achievements .achievements .achievement:nth-child(4) {
    margin-top: -20px;
  }

  .binarypoets-block-team-members-and-sibling {
    display: block;
    width: 100%;
  }

  .binarypoets-block-team-members {
    display: block;
    width: 100%;
    padding: 0;
    padding-top: 80px;
    border-top: 1px solid #999;
  }

  .binarypoets-block-team-members h2 {
    margin-left: 5%;
    font-size: 20px;
  }

  .binarypoets-block-team-members .members {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .binarypoets-block-team-members .members .member {
    width: 85vw;
    min-width: auto;
    /*max-width: 85vw;*/
    height: auto;
  }

  .binarypoets-block-team-members .members .member img {
    width: 100%;
  }

  .binarypoets-block-team-members .members .member .info {
    position: static;
    display: block;
    margin-left: 10px;
  }

  .binarypoets-block-team-members .members .member .info .name {
    font-size: 3.2vw;
    margin-top: 15px;
  }

  .binarypoets-block-team-members .members .member .info .job-title {
    font-size: 14px;
  }

  .binarypoets-block-testimonials {
    display: block;
    width: 100%;
    padding: 0;
    border-top: 1px solid #999;
    padding-top: 60px;
  }

  .binarypoets-block-testimonials h2 {
    display: block;
    color: #000;
    margin-left: 5%;
    font-size: 20px;
  }

  .binarypoets-block-testimonials .summary {
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 5vw;
    line-height: 125%;
    font-weight: 500;
    color: #222;
    width: 85%;
  }

  .binarypoets-block-testimonials .logos {
    display: block;
    width: 70%;
    margin-left: 20%;
    margin-top: 70px;
  }

  .binarypoets-block-testimonials .logos img {
    margin-left: 0;
  }

  .binarypoets-block-testimonials .short-text {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 5%;
    position: relative;
    top: auto;
    bottom: 0;
  }

  .binarypoets-block-contact {
    display: block;
    width: 100%;
    padding: 0;
  }

  .binarypoets-block-contact h2 {
    margin-left: 20%;
    margin-top: 60px;
    font-size: 5vw;
    line-height: 125%;
    font-weight: 500;
    color: #222;
    width: 75%;
    margin-bottom: 60px;
  }

  .binarypoets-block-contact .info h3 {
    font-size: 20px;
    color: #000;
  }

  .binarypoets-block-contact h3:nth-of-type(2) {
    margin-top: 6vw;
  }

  .binarypoets-block-contact .info {
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .binarypoets-block-contact ul {
    margin-top: 5px;
  }

  .binarypoets-block-contact form {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }

  .binarypoets-block-contact form .fields {
    width: 100%;
  }

  .binarypoets-block-contact form .fields input,
  .binarypoets-block-contact form .fields textarea {
    font-size: 3.2vw;
  }
  .binarypoets-block-contact form > input {
    margin: 50px auto;
    display: inherit;
    font-size: 3.2vw;
    width: 18vw;
    height: 18vw;
  }

  .binarypoets-block-blog-posts {
    display: block;
    width: 100%;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .binarypoets-block-blog-posts__post {
    border-right: none;
    padding: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
    padding-top: 60px;
  }

  .binarypoets-block-blog-posts__post .date {
    margin-left: 20%;
    margin-bottom: 5px;
  }

  .binarypoets-block-blog-posts__post h3 {
    margin: 0;
    margin-left: 20%;
  }

  .binarypoets-block-blog-posts__post .read-more {
    display: none;
  }

  .binarypoets-block-blog-posts__image-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
  }

  .binarypoets-block-blog-posts__image-container img {
    object-fit: cover;
    position: static;
    max-height: none;
    max-width: 100%;
    display: block;
  }

  .binarypoets-block-portfolio-item-header {
    display: block;
    padding: 0;
    padding-bottom: 80px;
  }

  .pagesection__content.portfolio-item {
    padding-right: 0;
    padding-bottom: 80px;
    top: 0;
    left: 0;
    background: yellow;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 80px;
  }

  .pagesection__content.portfolio-item .go-back {
    display: none;
  }

  .close-button {
    position: relative;
    width: 60px;
    min-height: 60px;
  }

  .close-button .line {
    position: absolute;
    top: 53%;
    left: 53%;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background: #000;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-button .line:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .close-button:hover {
    transform: scale(0.9);
    transition: scale 0.3s ease-in-out;
  }

  .binarypoets-block-portfolio-item-header .image-and-title {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .binarypoets-block-portfolio-item-header .image-and-title h3 {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
  }

  .binarypoets-block-portfolio-item-header .meta {
    margin-left: auto;
    width: 180px;
    margin-top: 40px;
  }

  .binarypoets-block-portfolio-item-header .meta li.roles {
    margin-top: 30px;
  }

  .binarypoets-block-portfolio-item-header .link-and-description {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
  }

  .binarypoets-block-portfolio-item-header .link-and-description p {
    margin-top: 30px;
    font-size: 5vw;
    line-height: 125%;
    font-weight: 500;
    color: #222;
  }

  .binarypoets-block-portfolio-item-image {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0;
    height: auto;
  }

  .binarypoets-block-portfolio-item-image img,
  .binarypoets-block-portfolio-item-image.vertical img {
    width: 100%;
    height: auto;
  }

  .binarypoets-block-portfolio-item-testimonial {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    margin-top: 70px;
  }

  .binarypoets-block-portfolio-item-testimonial p {
    margin-left: 15%;
    font-size: 5vw;
    line-height: 125%;
    font-weight: 500;
    color: #222;
  }

  .binarypoets-block-portfolio-nav {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
  }

  .binarypoets-block-portfolio-nav a {
    font-weight: bold;
  }
}
